@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

/* @media (prefers-color-scheme: dark) {
  :root {

  }
} */

body {
 
}

.footer {
  @apply bg-[theme('colors.black')];
}

.navigation__container {
  @apply w-full h-fit bg-[theme('colors.vlBeige')];
}

.navbar {
  @apply flex justify-between w-full z-[999] items-center text-gray-500 flex-wrap h-16 sticky py-0 px-8 bg-[theme('colors.vlBeige')]
}

.square-title {
  font-family: 'Bebas Neue', sans-serif;
}

.content-bg {
  @apply  bg-fixed absolute top-0 bottom-0 left-0 right-0 content-[""] opacity-40;
}

.description-box {
  background: rgb(218,218,223);
  background: linear-gradient(0deg, rgba(218,218,223,1) 0%, rgba(218,218,223,1) 50%, rgba(218,218,223,0.4010854341736695) 100%);
}