@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

/* @media (prefers-color-scheme: dark) {
  :root {

  }
} */

@layer base {
  h1 {
    @apply tracking-wider;
  }
  h2 {
    @apply text-4xl font-bold text-center tracking-wider;
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Bebas Neue', sans-serif;
  }
  h3 {
     @apply text-center;
    font-family: 'Inter', sans-serif;
  }
  form {
    font-family: 'Inter', sans-serif;
  }
}

.footer {
  @apply bg-[theme('colors.black')];
}


.navigation {
  @apply sticky top-0 z-[1000] bg-[theme('colors.vlBeige')]
}

.navbar {
  @apply max-w-[1175px] m-auto flex justify-between w-full items-center text-gray-500 flex-wrap h-16 py-0 px-8 
}

.square-title {
  font-family: 'Bebas Neue', sans-serif;
}

.square-title-sm {
  /* font-size: 8vw; */
}

.font-neue {
  font-family: 'Bebas Neue', sans-serif;
}

.content-bg {
  @apply  bg-fixed bg-cover absolute top-0 bottom-0 left-0 right-0 content-[""] opacity-40;
}

.navlink > .navbar__item > .navlink-a {
  font-family: "Inria", serif;
}

.text-nowrap {
  text-wrap: nowrap;
}

.center-child {
  @apply top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}

.text-shadow {
  text-shadow: 4px -2px 4px rgba(31,13,8,0.61);
}

.menu-shadow {
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  -webkit-text-stroke-width: 0.15px; 
  -webkit-text-stroke-color: #FFFDFB; 
  /* text-shadow: 0 1px 1px #969795, -1px 0px 1px #e4e8e3, -1px 1px 0px #C5C9C3; */
}

.nav-link {
  transition: transform .3s ease-out;
}
.nav-link:hover {
  font-weight: bolder !important;
  font-size: 1rem;
  transform: scale(1.3) translateX(16px);
}